Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /Lernfeld1011/src/web

# Deliver the folder or file directly if it exists on the server
#das er nur in den WEB Ordner sehen darf
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
# führe automatisch die index.php aus, wenn nichts anderes gefunden
RewriteRule ^(.*)$ index.php [QSA]